/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    width: 1080px;
    height: 1920px;
}

.frame {
    width: 1080px;
    height: 1920px;
    margin: 0 auto;
    background-color: #15151f;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* landing page */
.title-container {
    /*text-align: center;*/
    padding: 120px;
    margin-top:100px;
}

.landing-title {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.6;
}

.logo-container {
    width: 840px;
    height: 420px;
    background-image: url("images/landing-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.landing-sub-title {
    padding: 80px 120px;
    /* text-align: center; */
    font-size: 42px;
    font-weight: 500;
    line-height: 1.8;
}

.landing-hr {
    width: 880px;
    height: 1px;
    background-color: #fafafa;
    margin: 20px auto;
}

.button-container {
    margin: 60px 0 40px 0;
    padding: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-button {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-color: #fa1d00;
    color: #fafafa;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    line-height: 1.4;
    box-shadow: 0 0 40px #fa1d00;
    transition: all 0.3s;
}

.start-button hr {
    width: 280px;
    height: 1px;
    margin: 0 auto;
    background-color: #fafafa;
}

.black-bar {
    background-color: #15151f;
    width: 120px;
    height: 20px;
    border-radius: 48px;
    margin-bottom: 24px;
}

.start-button:active {
    transform: scale(0.8);
    box-shadow: 0 0 40px #fa1d00;
}

.button-container p {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 400;
}

/* main page */
.main-title {
    font-size: 60px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.main-image {
    background-image: url("images/main-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    width: 580px;
    height: 400px;
    margin-left: 20px;
    border-radius: 16px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

.vertical-line {
    width: 1px;
    height: 420px;
    background-color: #3f3f3f;
    margin: 0 20px;
}

.main-text-container {
    width: 380px;
}

.f1-label {
    color: #fa1d00;
    font-size: 84px;
    font-weight: 800;
}

.main-text1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.6;
}

.main-hr1 {
    width: 100%;
    height: 10px;
    background-color: #fa1d00;
    opacity: 0.3;
    margin-top: -20px;
}

.main-hr2 {
    width: 880px;
    height: 1px;
    background-color: #fafafa;
    margin-top: -20px;
}

.description {
    /* text-align: center; */
    font-size: 38px;
    margin-top: -20px;
    line-height: 1.8;
}

.main-text2 {
    font-weight: 400;
    line-height: 2.4;
}

.main-text3 {
    font-weight: 800;
}

.highlight {
    color: red;
    font-size: 1.3em;
    font-weight: bold;

}

.navigate-buttons {
    margin-top: -20px;
    text-align: center;
    font-size: 28px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 420px);
    grid-row-gap: 20px;
    grid-column-gap: 100px;
    justify-content: center;
    margin-top: 80px;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-bottom: 60px;
    background-color: #fafafa;
    color: #15151f;
    font-size: 50px;
    font-weight: 800;
    border-radius: 16px;
    text-decoration: none;
    box-shadow: 0 0 40px #fa1d00;
    transition: all 0.3s;
}

.nav-button:active {
    transform: scale(0.9);
    background-color: #fa1d00;
    opacity: 0.8;
    color: #fafafa;
    box-shadow: 0 0 40px #fa1d00;
}

/* rule page */
.title-container {
    background-color: #15151f;
    color: #fafafa;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.back-button {
    background-image: url("images/back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.header-info-box {
    position: relative;
    text-align: left;
    color: #fafafa;
    font-size: 20px;
    line-height: 2.4;
}

.date-time-row,
.timer-line {
    display: block;
}

.next-game {
    font-weight: 600;
    margin-right: 4px;
}

.timer-row {
    font-weight: bold;
    font-size: 24px;
    color: #fa1d00;
    margin-left: 2px;
}

.tab-nav {
    display: flex;
    justify-content: center;
}

.tab-container {
    position: relative;
    display: flex;
    border-radius: 999px;
    padding: 10px 40px;
    margin: 30px auto;
    width: 860px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.tab {
    position: relative;
    z-index: 1;
    cursor: pointer;
    color: #2B2B2B;
    font-weight: 600;
    font-size: 26px;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.tab:hover {
    color: #fa1d00;
}

.tab.active {
    color: #fafafa;
}


.tab-indicator {
    position: absolute;
    height: 100%;
    top: 0;
    background-color: #15151f;
    border-radius: 999px;
    z-index: 0;
}

.rule-hr {
    width: 880px;
    height: 1px;
    background-color: #15151f;
    margin: 10px auto;
}

.rule-title {
    text-align: center;
}

.rule-title h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.rule-title p {
    font-size: 32px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 520px;
    gap: 24px;
    margin-top: 48px;
    overflow: hidden;
    margin-bottom: 60px;
}

.card {
    width: 300px;
    height: 95%;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.4;
    transform: scale(0.85);
    z-index: 1;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-size: 36px;
    margin: 16px 20px 18px;
    color: #15151f;
    font-weight: 700;
}

.card ul {
    margin: 0 20px 20px;
    padding-left: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6;
}

.card ul li {
    margin-bottom: 6px;
}

.card.active {
    opacity: 1;
    transform: scale(1);
    z-index: 3;
}

.card.left,
.card.right {
    opacity: 0.6;
    transform: scale(0.9);
    z-index: 2;
}

.card:not(.active):not(.left):not(.right) {
    display: none;
}

.rec {
    text-align: center;
    padding: 20px;
    font-size: 36px;
    margin: 30px;
}

.rule-vid {
    position: relative;
    width: 1080px;
    height: auto;
    object-fit: cover;
}

/* team page */
.team-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.team-head {
    text-align: center;
}

.team-title {
    font-size: 60px;
    font-weight: 800;
}

.team-desc {
    font-size: 28px;
    margin-top: 18px
}

.team-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.nav-arrow {
    width: 40px;
    height: 100px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.nav-arrow:active {
    transform: scale(0.85);
    box-shadow: 0 0 8px #a3a3a3;
    transition: all 0.2 ease;
}

.team-logo {
    width: 100px;
    height: 100px;
    margin: 30px 12px 8px 80px;
    object-fit: contain;
}

.team-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.team-name {
    margin: 24px 0 0 0;
    font-size: 60px;
    font-weight: 700;
}

.team-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.driver-row {
    display: flex;
    gap: 24px;
    align-items: center;
}

.driver-photo {
    width: 280px;
    border-radius: 12px;
    object-fit: cover;
}

.team-vertical-line {
    width: 1px;
    height: 200px;
    background-color: #3f3f3f;
}

.car-photo {
    width: 720px;
    object-fit: contain;
}

.indicator-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 12px;
}

.indicator-dot {
    width: 16px;
    height: 16px;
    background-color: #bbb;
    border-radius: 50%;
    opacity: 0.4;
    transition: all 0.3s ease;
}

.indicator-dot.active {
    background-color: #fa1d00;
    opacity: 1;
    transform: scale(1.3);
}

.team-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    text-align: left;
    margin-top: 20px;
    color: #333;
    width: 800px;
    padding: 30px 60px;
    gap: 12px;
}

.team-description u {
    margin: 0 auto;
}

.team-bio {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
}

.team-drivers {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 500;
    font-weight: 500;
    margin-bottom: 40px;
}

.team-win {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.4;
    min-height: 30px;
}

.team-tags {
    color: #868686;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.4;
    word-break: break-word;
}

.support-button {
    display: block;
    margin: 12px auto;
    padding: 20px 24px;
    width: 600px;
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    background-color: #15151f;
    color: #fafafa;
    border-radius: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.support-button:active {
    transform: scale(0.85);
    background-color: #ff7c7c;
}

/* tec page */
.tech-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-title {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
    color: #15151f;
}

.tech-desc {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin: 20px 0;
    line-height: 1.6;
}

.tec-hr {
    width: 880px;
    height: 1px;
    background-color: #fafafa;
    margin: 20px auto;
}

.tec-vid {
    position: relative;
    width: 1080px;
    height: auto;
    object-fit: cover;
    margin: 30px;
}

.btn-desc {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin: 20px auto;
}

.tech-card-grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    height: 320px;
    border-radius: 24px;
    justify-items: center;
    align-items: center;

}

.tech-card {
    width: 420px;
    height: 120px;
    font-size: 32px;
    font-weight: bold;
    background-color: #15151f;
    color: #fafafa;
    border: 3px solid #f2ff00;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.tech-card:active {
    transform: scale(0.95);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1080px;
    height: 1920px;
    background-color: rgba(21, 21, 31, 0.9);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay.show {
    display: flex;
}

.overlay-inner {
    width: 900px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}

.overlay-inner h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #15151f;
}

.overlay-inner p {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.8;
    color: #333;
}

.overlay-hint {
    font-size: 16px;
    margin-top: 28px;
    color: #999;
}

.overlay-image {
    width: 520px;
    height: auto;
    border-radius: 12px;
    margin-bottom: 36px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}